@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

header{
  text-align: center;
  background-color: rgb(109, 15, 109);
  color: white;
  font-family: 'Gluten', cursive;
  font-weight: 500;
  padding: 15px;
}